{% extends '::base.html.twig' %}

{% block body %}
    {{ form_start(form, { 'attr': { 'id': 'url_form', 'onsubmit': 'return validateUrl()' } } ) }}
    {{ form_errors(form) }}
    <div class="row">
        <div class="form-group">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 url-label">{{ form_label(form.full_url) }}</div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                {{ form_widget(form.full_url, { 'attr': { 'class': 'form-control' } }) }}
            </div>
            {{ form_errors(form.full_url) }}
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                {{ form_widget(form.save, { 'attr': { 'class': 'btn btn-default' } }) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/ttbshortener/js/main.js') }}"></script>
{% endblock %}