{% extends '::base.html.twig' %}

{% block body %}
    <div class="text-align-center">
        <p class="large-text">Short url is:</p>
        <p>
            <a class="bg-success short-link" href="{{ url('ttb_shortener_homepage') }}{{ key }}">
                {{ url('ttb_shortener_homepage') }}{{ key }}
            </a>
        </p>
        <p class="large-text"><a href="{{ url('ttb_shortener_homepage') }}">Shorten one more url</a></p>
    </div>
{% endblock %}