{% extends '::base.html.twig' %}

{% block body %}
    {{ form_start(form, { 'attr': { 'id': 'url_form', 'onsubmit': 'return validateUrl()' } } ) }}
    {{ form_errors(form) }}
    <div class="row">
        <div class="form-group">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 url-label">{{ form_label(form.full_url) }}</div>
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                {{ form_widget(form.full_url, { 'attr': { 'class': 'form-control' } }) }}
            </div>
            {{ form_errors(form.full_url) }}
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                {{ form_widget(form.save, { 'attr': { 'class': 'btn btn-default' } }) }}
            </div>

        </div>
    </div>
    {{ form_end(form) }}
    {% if not is_granted('ROLE_AUTHENTICATED_USER') %}
        <div class="text-align-center social-buttons">
            <a href="{{ hwi_oauth_login_url(hwi_oauth_resource_owners()[0]) }}" class="btn btn-default">{{ 'Sign in via Google' }}</a>
        </div>
    {% endif %}
    {% if is_granted('ROLE_AUTHENTICATED_USER') %}
        <a href="{{ url('_security_logout') }}" class="logout-link">Sign out</a>
        <table class="table table-hover">
            <thead>
                <tr class="info">
                    <th>Recent</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for url in urls %}
                    <tr>
                        <td><a href="{{ url.fullUrl }}">{{ url('shortener_homepage') }}{{ url.clue }}</a></td>
                        <td><a href="{{ url.fullUrl }}">{{ url.fullUrl }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/shortener/js/main.js') }}"></script>
{% endblock %}
